version = 2

[plugins]
  [plugins."io.containerd.grpc.v1.cri"]
    max_concurrent_downloads = 20
    sandbox_image = "k8s.gcr.io/pause:3.5"

    [plugins."io.containerd.grpc.v1.cri".containerd]
      default_runtime_name = "runc"
      #snapshotter = "overlayfs"

      snapshotter = "stargz"
      disable_snapshot_annotations = false

      [plugins."io.containerd.grpc.v1.cri".containerd.runtimes]

        [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc]
          privileged_without_host_devices = false
          runtime_type = "io.containerd.runc.v2"

          [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc.options]
            SystemdCgroup = true

    [plugins."io.containerd.grpc.v1.cri".registry]
      config_path = "/etc/containerd/certs.d"

[proxy_plugins]
  [proxy_plugins.stargz]
    type = "snapshot"
    address = "/run/containerd-stargz-grpc/containerd-stargz-grpc.sock"
